@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background: linear-gradient(to right, #E12941 0%, #DDA645 6.25%, #4F9E4A 12.5%, #C32333 18.75%, #ED4334 25%, #35BEE0 31.25%, #F9C233 37.5%, #A01F45 43.75%, #F06A37 50%, #DB1F69 56.25%, #F79C38 62.5%, #BD8A36 68.75%, #437E47 75%, #2798D1 81.25%, #60B94E 87.5%, #126A9C 93.75%, #1B496A 100%);
    width: 100%;
    height: 95px;
    opacity: 0.9;
    margin-bottom: 10px;
}

header a{
    color: black;
    opacity: 1;
}

header h1.logo{
    margin: 0;
    padding-left: 50px;
    padding-top: 10px;
    opacity: 1;
    font-size: 36pt;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: left;
    font-weight: 500;
}


header a#home:link{
    text-decoration: none;
    color:black;
}


header a#home:hover{
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    color: darkgreen;
}

header .menu{
    float: left;
    margin-top: 25px;
    margin-left: 35px;
}
header .menu li{
    display: inline;
    font-size: 20pt;
}

.menu li a:link{
    text-decoration: none;
    color:black;
}

.menu li a:hover{
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    color: darkgreen;
}

header .menu li + li{
    margin-left: 35px;
}

form{
    text-align:center;
}

label {
    font-size: 20pt;
    display: inline-block;
    text-align: center;
}


button{
    width: 175px;
    height: 55px;
    border: none;
    outline: none;
    margin: auto;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    vertical-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.predictions{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.predictions li{
    display: inline;
}
.predictions li + li{
    margin-left: 2px;
    align-items: center;
}

h2{
    font-size: 20pt;
    text-align: center;
    color: #2f2f2f;
    margin-top: 20px;
}

/*
header .container{
    background-image: url("headerbackgroundimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: row;
    width: 100%;
    opacity: 0.4;
}
 */