{% extends "header.html" %}
{% block content %}
<div class="home">
<form method="post">
    <label for="sdg_text">Write text to infer SDGs upon</label>
    <br>
    <textarea rows=15 cols=125 name="sdg_text">{{ request.form["sdg_text"] }}</textarea>
    <br>
    <div class="container">
        <button id="btn" type="submit">
            <p id="btnText">Submit</p>
        </button>
    </div>
</form>
    {% if prediction %}
        <h2>SDG predictions from text</h2>
        <ul class="predictions">
        {% for p in prediction %}
            <li><img src="static/images/{{ p }}.jpg" alt="{{ p }}" width="200" height="200"/></li>
        {% endfor %}
        </ul>
    {% elif prediction == [] %}
        <h2>No SDG predictions from text</h2>
    {% else %}
        <h2></h2>
    {% endif %}
</div>
{% endblock %}