{% extends "header.html" %}
{% block content %}
<div class="home">
<form method="post">
    <label for="sdg_text">SDG text</label>
    <br>
    <textarea rows=5 cols=75 name="sdg_text">{{ request.form["sdg_text"] }}</textarea>
    <br>
    <div class="container">
        <button id="btn" type="submit">
            <p id="btnText">Submit</p>
        </button>
    </div>
</form>
    {% if prediction %}
        <h2>SDG predictions from text</h2>
        <ul>
        {% for p in prediction %}
        <li>{{ p }}</li>
        {% endfor %}
        </ul>
    {% else %}
    {% endif %}
</div>
{% endblock %}