<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SDG_CLF</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>SDG_CLF</h1>
<form method="post">
<form>
    <label for="sdg_text">SDG text</label>
    <br>
    <textarea rows=5 cols=75 name="sdg_text">{{ request.form["sdg_text"] }}</textarea>
    <br>
    <div class="container">
        <button id="btn" type="submit">
            <p id="btnText">Submit</p>
        </button>
    </div>
</form>

</body>
</html>