h1{
    text-align: center;
    font-size:36pt;
    color:rgb(31, 124, 36);

}

form{
    text-align:center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 20%;
    height: 95px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

button{
    width: 175px;
    height: 55px;
    border: none;
    outline: none;
    margin: auto;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    vertical-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}